/*
    DEMO STYLE
*/



/* 
Portfolio Imgs
*/

h4 {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}
.port-img {
    position:relative;
}
.port-img img {
    width:100%;
    vertical-align:top;
}
.port-img:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.port-img:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.port-img:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    /* padding:4px 10px; */
    text-align:center;
    /* background:red; */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.port-img:hover:after, .image:hover:before {
    opacity:1;
}


/* Grid For Imgs */


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    font-family: 'Source Code Pro', monospace;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /* display: none; Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgb(3, 0, 0);
    padding: 10px;
    border-radius: 25px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}







.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


.jumbotron{
    background-image: url(../img/jumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    height: 600px;
    text-align: center;
    font: bold 52px;
    font-family: 'Source Code Pro', monospace;
    /* font-family: 'Ruda', sans-serif; */
    margin-bottom: 100px;
    border-radius: 0px;
    /* text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902; */
    /* position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #970909, 
                              2px 2px #970909, 
                              3px 3px #970909, 
                              4px 4px #970909, 
                              5px 5px #970909, 
                              6px 6px #970909; */

}



.home {
    margin-top: 100px;
}

#profile-pic{
    width: 90%;
    margin-left: 13px 
}

.socialmedia {
    width: 20%;
    /* margin-top: 100px; */
}

.icons {
    margin-top: 220px;
}

h1.hello{
    color: rgb(253, 253, 253);
}

h1.am {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #970909, 
                              2px 2px #970909, 
                              3px 3px #970909, 
                              4px 4px #970909, 
                              5px 5px #970909, 
                              6px 6px #970909;
}

h1.RJ{
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #970909, 
                              2px 2px #970909, 
                              3px 3px #970909, 
                              4px 4px #970909, 
                              5px 5px #970909, 
                              6px 6px #970909;
}



.button {
    width: 115px;
    height: 40px;
    margin-top: 20px; 
}

#your-name {
    width: 100%;
    margin-bottom: 20px;
}

#email {
    width: 100%;
}

#your-subject {
    width: 100%;
    margin-bottom: 20px;
}

#message {
    width: 100%;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    padding: 10px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(0, 0, 0);
    color: #fff;
    transition: all 0.3s;
    font-family: 'Source Code Pro', monospace;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #b10505;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #b10505;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    /* padding: 40px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}






.left, .center, .right {
    margin-left: 60px;
    float: left;
    margin-right: 40px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

